.bookEntry {
    background-color: moccasin;
}

.bookDetails {
    padding-bottom: 10px;
}

input {
    display: block;
    margin: 10px;
}

label {
    display: inline-block;
    padding: 10px;
}

button {
    margin-left: 10px;
    margin-right: 10px;
}